# Node modules
node_modules/

# Environment files
.env

# Logs
logs/
*.log
npm-debug.log*

# Build output
dist/
build/

# TypeScript
*.tsbuildinfo

# Ignore local settings
.vscode/

# OS-specific
.DS_Store
Thumbs.db